/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

div {
    display: block;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
    margin: 0 auto;
}

.buttons {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}


/* Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding: 2rem;
    z-index: 9999;
}

.top-navigation .content {
    height: 70px;
    padding: 0 15px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.04rem;
    color: #838994;
    letter-spacing: 0.03rem;
    margin-top: 1.7rem;
    margin-left: 1.563rem;
    -webkit-font-smoothing: antialised;
}

.top-navigation .links li {
    display: inline-block;
    transition: 0.5s ease;
    margin-left: 25px;
}

.navigation .links >.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}


/* Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.content {
    padding: 0 0.9.38rem;
    margin: 0 auto;
    min-width: 37.5rem;
    text-align: center;
}

.cases .content {
    margin-top: 7.875rem;
    text-align: center;
}

.cases .content li {
    display: inline-block;
    padding: 2rem;
}

.cases .content h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03rem;
    font-weight: 100;
    -webkit-font-smoothing: antialised;
}


/* Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social h5 {
    text-align: center;
    font-weight: 100;
}

.social .icons li {
    display: inline-block;
    text-align: center;
    border-radius: 1.25rem;
    border: 1px solid black;
    margin: 1.25rem 5px;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem 0;
}


/*
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/
